/* Reset de margens e estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #f1f1f1;
    background-color: #000000;
}

/* Navegação fixa */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030303;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Estilo dos links no menu */
nav a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    padding: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #34db35;
    left: 50%;
    bottom: 0;
    transition: all 0.3s;
    transform: translateX(-50%);
}

nav a:hover {
    color: #34db35;
    transform: scale(1.1);
}

nav a:hover::before {
    width: 100%;
}

/* Efeito de brilho ao passar o mouse */
nav a:hover {
    color: #fff;
    text-shadow: 0 0 10px #34db35, 0 0 20px #34db35, 0 0 30px #34db35;
}

/* Seções */
section {
    padding: 80px 20px;
    margin-top: 70px;
    border-bottom: 1px solid #000000;
    background-color: #000000;
}

h2 {
    color: #34db35;
    margin-bottom: 15px;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
}

p {
    color: #ddd;
    margin-bottom: 20px;
}

/* Estilos de formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #bbb;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #34db35;
    box-shadow: 0 0 10px #34db35(52, 152, 219, 0.5);
}

/* Botões */
button {
    background-color: #34db35;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #34db35;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        padding: 10px 0;
    }

    nav a {
        margin: 0 15px;
        font-size: 14px;
    }

    section {
        padding: 60px 15px;
    }
}

@media (max-width: 480px) {
    nav a {
        margin: 0 5px;
        font-size: 12px;
    }

    h2 {
        font-size: 1.8em;
    }

    button {
        width: 100%;
    }
}
